<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chilaquiles</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <img src="https://tse2.mm.bing.net/th?id=OIP.fPCPUSDS8XuKkKOnQBU2BgHaFj&pid=Api&P=0&h=70"> 
  
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a> 
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start"> 
                <a href="/" class="navbar-item">
                Inicio
                </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <% if(username != '') { %>
                        Bienvenido(a) <%= username %>
                        <a href="/users/logout" class="button is-danger">
                        Salir
                        </a>
                    <% } else { %> 
                        <a class="button is-primary">
                            <strong>Registrarse</strong>
                        </a>
                        <a href="/users/login" class="button is-primary">
                            <strong>Entrar</strong>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
      </div>
    </nav>
    <section class="section">
            <div class="container">
